@charset "UTF-8";

/* ν—¤λ” & ν‘Έν„° CSS */

#wrap{
    width: 100%;
}

#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

#header .h_content{
    width: 100%;
    height: 100px;
    /* background-color: #fbe6e1; */
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

#header .h_inner{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
}

#header .h_logo a{
    display: block;
    background-image: url(../img/h_logo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    text-indent: -99999px;
    overflow: hidden;
}

#nav{
    position: absolute;
    right: 0px;
    bottom: 30px;
}

#nav .gnb{
    display: flex;
}

#nav .gnb > li > a {
    display: block;
    font-size: 16px;
    margin-left: 30px;
}

#nav .gnb > li > a.active{
    font-weight: 500;
    color: #205162;
} 

#header .h_util{
    position: absolute;
    top: 18px;
    right: 0px;
    display: flex;
    margin-bottom: 40px;
}

.h_util span{
    display: block;
    margin-left: 20px;
    font-size: 14px;
}

.h_util span.signup{
    color: #205162;
}

.footer{
    /* margin-top: 100px; */
    font-size: 13px;
    color: #666;
    background-color: #cfdbe9;
}

.f_container{
    width: 800px;
    margin: 0 auto;
}

.f_inner{
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    display: flex;
}

.f_logo a{
    display: block;
    width: 70px;
    height: 70px;
    background-image: url(../img/h_logo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-right: 40px;
}

.f_content > div{
    margin-bottom: 20px;
}

.f_row1 span.sv_email{
    font-weight: 500;
    color: #205162;
}

.f_row1 span::after{
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 1px;
    height: 11px;
    background-color: #666;
    margin: 4px 7px 0 7px;
}

.f_row1 span:last-child:after{
    display: none;
}


.f_row2 > ul{
    display: flex;
}

.f_row2 > ul > li > a {
    display: block;
    font-size: 13px;
    color: #666;
    border: 1px solid rgb(133, 133, 133);
    padding: 2px 5px;
    margin-right: 10px;
}


.f_row3 span{
    font-size: 12px;
}