@charset "utf-8";

/* roomLike.jsp */
/* 서브페이지 공통 css는 common.css에 작성합니다. */
/* 방 목록 css는 roomList.css에 있습니다. (.list_content) */

.like_sum{
	font-size: 14px;
}

#roomLike .list_select_like{
	padding: 0 8px;
	margin-bottom: 11px;
}

#roomLike .list_content{
	height: 725px;
}
#roomLike .ck_box{
	position: absolute;
	top: 7px;
	left: 7px;
}

.page2{
    display: none;
}
