@charset "utf-8";

#sub_page2{
    width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
    border: 0;
}

.sp2_in{
    width: 800px;
    margin: 0 auto;
}

.sp2_in .sp2_t{
    font-size: 30px;
    color: #205162;
}

.sp2_in .sc_title{
    color: #333;
    font-size: 25px;
    line-height: 1.2em;
    font-weight: 500;
    margin-bottom: 30px;
}

.sc1_text{
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 1.2em;
}

.sp2_title{
    padding: 30px 0;
    margin-bottom: 50px;
    border-bottom: 1px solid #333;
}

.sp2_title .sp2_t{
    text-align: center;
    font-size: 27px;
    line-height: 1.5em;
}
.sp2_content1, .sp2_content2, .sp2_content3, .sp2_content4, .sp2_content5, .sp2_content6, .sp2_content7{
    margin-bottom: 80px;
}

.sc_box{
    width: 800px;
    height: 200px; 
    border: 0; 
    margin: 30px auto; 
    border-radius: 10px;
}

.sc1_box th{
    background-color: #cfdbe9;
    color: #205162;
    width: 100px;
    height: 80px;
}

.sc1_box .s1b_button{
    margin-left: 30px
}

.s1b_button .button-label{
    height: 50px; 
    text-align: center; 
    line-height: 50px; 
    font-size: 15px; 
    letter-spacing: 3px;
}

.sp2_content2 ul{
    display: flex;
    justify-content: space-between;
}

.sp2_content2 .sc2_box1{
    text-align: center;
    padding-top: 90px;
    width: 120px;
    height: 200px;
    border: 0;
    background-color: #cfdbe9;
    margin-right: 40px;
    font-size: 25px;
    color: #205162;
}

.sc2_box2{
    position: relative;
    margin-right: 40px;
    border-bottom: 1px solid #444;
}

.sc2_box2 .sb2_text{
    margin-bottom: 40px;
}

.sc2_box2 input{
    width: 350px;
    height: 100px;
}

.sc2_box2 .sb2_sec{
    position: absolute;
    top: 25px;
    right: 0;
    padding: 7px 8px;
    color: #cfdbe9;
    border: 0;
    background-color: #205162;
}

.sc2_box2 .sb2_memo{
    text-align: right;
    border:0;
    border-bottom:1px solid #888;
    color: #888;
}

.sc2_box2 .sb2_memo{
	height: 50px;
}

.sc2_box3 .img{
    width: 200px;
    height: 200px;
    border: 1px solid #222;
}

.sc3_box th{
    background-color: #cfdbe9; 
    width: 100px; 
    height: 80px;
    color: #205162;
}

.sc3_box td{
    border-bottom: 1px solid #e0e0e0; 
    border-right: 1px solid #e0e0e0;  
    height: 250px;
}

.sc3_box .button-label{
    height: 50px; 
    text-align: center; 
    line-height: 50px; 
    font-size: 15px; 
}

.sc3_box .buttons{
    margin-top: 0px; 
    text-align: center;
    margin-left: 10px; 
    outline: 0px solid black;
}

.sc3_box #yrent{
    display: none;
}

.texts{
	margin-bottom: 20px;
	margin-left: 170px;
}

.texts label{
	display: inline-block;
	width: 70px;
	margin-top: 15px;
  	font-size: 20px;
  	color: #101010;
}

.texts span{
  	display: inline-block;
 	margin-top: 15px;
  	margin-left: 5px;
  	font-size: 20px;
  	color: #101010;
}

.texts input{
    height: 40px;
    text-align:right;
    margin-top: 5px;
    margin-left: 10px;
    border: 0;
    border-bottom: 1px solid #444;
    font-size: 15px;
}

.sc4_box th{
    background-color: #cfdbe9; 
    color: #205162;
    width: 100px; 
    height: 80px;
}

.sc4_box td{
    border-bottom: 1px solid #e0e0e0; 
    width: 350px;
    margin-left: 30px;
}

.sc4_box .sc_flex{
    display: flex;
    margin-top: 40px;
}

.sc4_box span{
    font-size: 15px;
}

.sc4_box input{
    width: 100px;
    height: 20px;
}

.sc4_box span{
    padding-left: 0px; 
    padding-right: 5px;
    font-weight: bold; 
    color: rgb(68, 68, 68); 
}

.sc5_box th{
    background-color: #cfdbe9; 
    width: 100px; 
    height: 80px;
    color: #205162;
}

.sc5_box td{
    width: 500px;
}

.sc5_box label{
    height: 50px; 
    text-align: center; 
    line-height: 50px; 
    font-size: 15px; 
}

.sc5_box .buttons{
    margin-top: 20px;
    margin-left: 25px;
} 

.sc6_box{
    display: flex;
}

.sb6_l p{
    text-align: center;
    padding-top: 15px;
    width: 110px;
    height: 50px;
    margin-bottom: 10px;
    border: 0;
    background-color: #cfdbe9;
    margin-right: 30px;
    font-size: 15px;
    color: #205162;
}

.sb6_r p{
    margin-top: 5px;
}

.sb6_r p input{
    width: 600px;
    height: 40px;
    margin-bottom: 15px;
    background-color: #ddd;
}

.img_save{
    width: 700px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid #444;
}

.room_ck #submit_ck{
	width: 20px;
	height: 20px;
}

.sc7_btns{
    text-align: center;
}

.sc7_btns .cs a{
	display: block;
	background-color: #aaa;
	color: #fff;
	padding: 10px;
}

.sc7_btns button{
	margin: 10px 5px 0 5px;
	border: 1px solid #444;
 	background-color: #fff;
 	color: #222;
}

.sc7_btns #room_submit{	
	padding: 10px;
}

.sc7_btns .on{
    color: #cfdbe9;
 	background-color: #205162;
}