@charset "UTF-8";

/* 방 리스트 */
/* 여러 페이지에서 사용하기 때문에 따로 파일화하였음 */

.main_list{
    background-color: rgba(238, 238, 238, 0.5);
}

.main_list > .inner{
    /* background-color: aqua; */
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0 100px 0;
    position: relative;
    min-height: 908px;
}

.main_list h2{
    font-size: 22px;
    color: #222;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 40px;
}

.list_container{
    display: flex;
    justify-content: space-between;
}

.list_content{
	width: 700px;
    min-height: 500px;
}

.list_content .title{
	display: flex;
}

.count{
	display: block;
	margin-top: 20px;
	margin-left: 10px;
	font-size: 16px;	
}

.isEmpty{
	font-size: 22px;
	color: #666;
	text-align: center;
	line-height: 30px;
	padding-top: 50px;
	box-sizing: border-box;
}

.list_content > ul{
    display: flex;
    flex-wrap: wrap;
    min-height: 660px;
}

.list_content > ul > li {
	margin-right: 20px;
}

.list_content > ul > li:nth-child(3n){
	margin-right: 0;
}


.room_card{
	font-size: 12px;
    background-color: #fff;
    width: 220px;
    height: 305px;
    position: relative;
    margin-bottom: 24px;
    box-sizing: border-box;
    border: 1px solid #fff;
}

.card_box {
    height: 180px;
    position: relative;
}

.room_img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.find_map{
	width: 60px;
	height: 30px;
	background-color: #eee;
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	color: #222;
}

.find_map:hover{
	background-color: #cfdbe9;
}

.find_map.active{
	background-color: #cfdbe9;
}

.find_addr{
	display: none;
}

.btn_like.like{
	background-color: #fbe6e1;
}

.btn_like{
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 2px 7px;
	background-color: #eee;
	font-size: 14px;
	line-height: 25px;
	text-align: center;
	border-radius: 7px;
	cursor: pointer;
}

.btn_like:hover{
	background-color: #fbe6e1;
}




.card_container{
    padding: 4px 10px;
    position: relative;
}

.room_card .room_type {
    display: inline-block;
    font-size: 12px;
    color: #fff;
    border-radius: 5px;
    vertical-align: middle;
    margin-right: 2px;
    padding: 1px 4px;
}

.room_card .room_type.one{
    background-color: #e9b239;
}

.room_card .room_type.two{
    background-color: tomato;
}

.room_card .price {
    display: inline-block;
    font-weight: bold;
    color: #333;
    font-size: 19px;
    vertical-align: middle;
    margin-right: 1px;
}

.room_card .price_won {
    font-size: 12px;
    vertical-align: middle;
}


.room_cmt {
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
}

.room_option span:last-child:after{
    display: none;
}

.room_tag{
    margin-top: 5px;
    height: 20px;
}

.room_tag .tag {
    font-size: 12px;
    color: #222;
    background-color: #cfdbe9;
    padding: 2px 3px;
    margin-right: 5px;
}

.room_addr{
	margin-top: 3px;
}

.room_addr .addr:before{
	display: inline-block;
	content: "";
	vertical-align: top;
	margin-top: 2px;
	width: 13px;
	height: 12px;
	background-image: url(../img/icon_pin.svg);
	background-size: 100% 100%;
}

.room_addr .addr:after{
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 1px;
    height: 10px;
    background-color: #ddd;
    margin: 5px 5px 0 5px;
}

.room_addr .regdate{
	display: inline-block;
}

.map_wrap{
	margin-top: 80px;
}

/* 페이저 CSS */

.pagination{
    display: flex;
    justify-content: center;
}

.pagination li{
    position: relative;
}

.pagination li a{
    display: block;
    width: 25px;
    height: 25px;
    background-color: #cfdbe9;
    margin-left: 10px;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    font-weight: 600;
    color: #666;
    transition: all 0.1s;
}

.pagination li.pageNum a:hover{
    background-color: #205162;
    color: #fff;
}

.pagination .active a{
    background-color: #205162;
    color: #fff;
}


.pagination .previous_10p a, .pagination .previous_1p a, .pagination .next_10p a, .pagination .next_1p a{
    width: 18px;
    height: 25px;
    padding: 0 5px;
    text-indent: -99999px;
    background-color: transparent;
    /* background-color: tomato; */
}

.pagination .previous_10p a{margin-left: 0;}
.pagination .previous_1p a{margin-left: 1px;}
.pagination .next_10p a{margin-left: 1px;}

.pagination .previous_10p a:before, .pagination .previous_10p a:after, .pagination .next_10p a:before, .pagination .next_10p a:after
, .pagination .previous_1p a:after, .pagination .next_1p a:after{
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-top: 2px solid #666;
    border-right: 2px solid #666;
    margin-top: 7px;
    position: absolute;
    top: 1px;
}

.pagination .previous_10p a:before, .pagination .previous_10p a:after, .pagination .previous_1p a:after{transform: rotate(-135deg);}
.pagination .next_10p a:before, .pagination .next_10p a:after, .pagination .next_1p a:after{transform: rotate(45deg);}
.pagination .previous_10p a:before{left: 4px;}
.pagination .previous_10p a:after{left: 9px;}
.pagination .previous_1p a:after{left: 7px;}
.pagination .next_10p a:before{right: 4px;}
.pagination .next_10p a:after{right: 9px;}
.pagination .next_1p a:after{right: 6px;}


/* 모달창 CSS */

.modal_like, .modal_fail, .modal_dislike{
	height: 150px;
	width: 350px;
    height: 150px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 30px;
    color: #222;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -130%);
    display: none;
}

.modal_dislike{
	padding-top: 40px;
}


.modal_text{
    font-size: 15px;
    line-height: 1.5em;
}

.modal_text > span{
    color : #205162;
    font-weight: 600;
}

.modal_btn_box{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 17px 30px 0 30px;
}


.modal_btn_box > a {
	display: block;
    font-size: 14px;
    padding: 8px 10px;
    border-radius: 10px;
    transition: background-color 0.2s;
    cursor: pointer;
    margin: 0 auto;
}

.modal_btn_box > .modal_btn_1{
    background-color: #cfdbe9;
}

.modal_btn_box > .modal_btn_1:hover{
    background-color: #205162;
    color: #fff;
}

.modal_btn_box > .modal_btn_2{
    background-color: #fbe6e1;
}

.modal_btn_box > .modal_btn_2:hover{
    background-color: #e98a72;
    color: #fff;
}

.modal_fail .modal_btn_box > a {
	width: 40%;
}

.modal_dislike .modal_btn_box > a {
	width: 80%;
}

.modal_close{
    width: 17px;
    height: 17px;
    position: absolute;
    top: 10px;
    right: 10px;
    text-indent: -99999px;
    background-image: url(../img/btn_close.png);
    background-size: 100% 100%;
    cursor: pointer;
}
