@charset "UTF-8";

/* roomMoidfy.jsp (방 수정 페이지, 팝업창) css 입니다. */
/* room_register css에서 필요한 부분만 추가, 수정한 코드입니다 */

.wrap{
	background-color: rgba(238, 238, 238, 0.5);
}

#sub_page2{
    margin-top: 0px;
    background-color: #fff;
}

#sub_page2 .sp2_title{
	position: relative;
}

#roomModify .sp2_title .close{
    display: block;
    width: 30px;
    height: 30px;
    /* background-color: red; */
    background-size: 100% 100%;
    position: absolute;
    bottom: 30px;
    right: 0px;
    text-indent: -9999px;
    cursor: pointer;
}

#roomModify .sc1_text{
    color: #222;
	background-color: #eee;
    width: 100%;
    border-radius: 20px;
    padding: 15px 30px;
    font-size: 14px;
}

#roomModify .sc1_text .style{
    color: #205162;
    font-weight: 600;
}

#roomModify .sc1_text .row1{
    margin-bottom: 10px;
    font-size: 16px;
}

#roomModify .sc1_text .row1:before{
    display: inline-block;
    vertical-align: top;
    content: "";
    width: 18px;
    height: 18px;
    background-image: url(../img/emoji_modify.png);
    background-size: 100% 100%;
}

#roomModify .sc1_text .row2{
    margin-bottom: 10px;
}

#roomModify .sc1_text .row3 p:first-child{
    margin-bottom: 5px;
}

#roomModify .sp2_content2 .sc2_box1{
	width: 100px;
	font-size: 13px;
	
}

#roomModify .texts label {
    display: inline-block;
    width: 70px;
    margin-top: 20px;
    font-size: 15px;
    color: #101010;
}

.texts span {
    display: inline-block;
    margin-top: 15px;
    margin-left: 5px;
    font-size: 15px;
    color: #101010;
}

#roomModify .sc5_box td {
    width: 400px;
}

#roomModify .sc7_btns > div{
	display: flex;
	justify-content: center;
}

#roomModify .sc7_btns > div > button{
	width: 100px;
	height: 40px;
	border-radius: 10px;
}
