@charset "UTF-8";

/* roomMoidfy.jsp (방 수정 페이지, 팝업창) css 입니다. */
/* room_register css에서 필요한 부분만 추가, 수정한 코드입니다 */

.wrap{
	background-color: rgba(238, 238, 238, 0.5);
}

#sub_page2{
    margin-top: 0px;
    background-color: #fff;
}

.sc5_box td {
    width: 400px;
}

/* 수정 모달창 css */

#roomModify .modal_modify, #roomModify .modal_cancel{
	height: 150px;
	width: 350px;
    height: 150px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 30px;
    color: #222;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -130%);
    display: none;
}

#roomModify .modal_text{
    font-size: 15px;
    line-height: 1.5em;
}

#roomModify .modal_btn_box{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 17px 30px 0 30px;
}


#roomModify .modal_btn_box > a {
	display: block;
    font-size: 14px;
    padding: 8px 10px;
    border-radius: 10px;
    transition: background-color 0.2s;
    cursor: pointer;
    margin: 0 auto;
}

#roomModify .modal_btn_box > .modal_btn_1{
    background-color: #cfdbe9;
}

#roomModify .modal_btn_box > .modal_btn_1:hover{
    background-color: #205162;
    color: #fff;
}

#roomModify .modal_btn_box > .modal_btn_2{
    background-color: #fbe6e1;
}

#roomModify .modal_btn_box > .modal_btn_2:hover{
    background-color: #e98a72;
    color: #fff;
}

#roomModify .modal_close{
    width: 17px;
    height: 17px;
    position: absolute;
    top: 10px;
    right: 10px;
    text-indent: -99999px;
    background-image: url(../img/btn_close.png);
    background-size: 100% 100%;
    cursor: pointer;
}
