@charset "utf-8";

/* roomLike.css에 복사해서 사용했기 때문에 이제 사용안해도 됩니다 */

#sub_page1{
    width: 1000px;
    margin: 0 auto;
}

.sp1_in{
    width: 800px;
    margin: 0 auto;
}

.sp1_title{
    padding: 30px 0;
    margin-bottom: 50px;
    border-bottom: 1px solid #333;
}

.sp1_title .sp1_t{
    text-align: center;
    font-size: 27px;
    line-height: 1.5em;
}

.sp1_btns{
    text-align: center;
    margin-top: 200px;
}

.sp1_btns a{
    display: block;
    padding: 10px 20px;
    color: #333;
}

.sp1_btns .sp1_next a{
    background-color: #222;
    color: #fff;
}

.page2{
    display: none;
}
