<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ilin_ilbang.mapper.RoomAttachMapper">
	<!-- by영규, 방등록 페이지, 이미지정보 등록하기 -->
	<insert id="insert">
		insert into room_attach values(#{uuid},#{uploadpath},#{filename},#{filetype},#{rcode})
	</insert>
	<!-- by영규, 방등록 페이지, 이미지정보 삭제를 하기 위해 uuid를 찾기 -->
	<delete id="delete">
		delete from room_attach where uuid=#{uuid}
	</delete>
	<!-- by영규, 방등록 페이지, 이미지정보 찾기 -->
	<select id="findByRcode" resultType="com.ilin_ilbang.domain.RoomAttachVO">
		select * from room_attach where rcode=#{rcode}
	</select>

</mapper>